@media screen and (max-width:1370px) {
.auto-container {
    padding: 0 15px;
    max-width: 1200px;
}
header {
    padding: 20px 0 0;
}
.banner-inner h1 {
    font-size: 40px;
}
.banner-inner p {
    font-size: 26px;
    margin: 10px 0 30px;
}
.banner-inner {
    padding: 155px 0 45px 0;
}
.section02-con {
    padding: 0;
}
.instant-access-ryt h2 {
    font-size: 29px;
}
.instant-access-ryt h3 {
    font-size: 60px;
}
.buy-now-btn {
    font-size: 18px;
}
.instant-access-outer {
    padding: 0px 40px 61px 0px;
}
.instant-access-lft {
    padding: 0 40px 0 0;
}
.pay-card-outer li {
    width: 70px;
    margin: 0 2px 0;
}
.steps-outer img {
    width: 80px;
}
.steps-outer h2 {
    font-size: 40px;
}
.steps-inner {
    margin: 50px 0 100px;
}
.marketer-outer h2 {
    font-size: 33px;
}
.marketer-outer h3 {
    font-size: 40px;
    margin: 15px 0 58px;
}
.marketer-ryt li span {
    font-size: 17px;
}
.marketer-outer {
    margin: 0 0 30px 0;
}
.succeed-inner h2 {
    font-size: 23px;
}
.succeed-inner h3 {
    font-size: 42px;
    margin: 15px 0 40px;
}
.succeed-left img {
    max-width: 100%;
}
.succeed-ryt p {
    font-size: 18px;
}
.facts-outer h2 {
    font-size: 220px;
    line-height: 201px;
}
.facts-outer h3 {
    font-size: 42px;
}
.facts-outer h4 {
    font-size: 32px;
}
.facts-left-list li span {
    font-size: 18px;
}
.service-type-inner h2 {
    font-size: 38px;
    padding: 30px 0px;
}
p, li {
    font-size: 18px;
}
.listing-services h3 {
    font-size: 20px;
}
.listing-services li {
    font-size: 18px;
}
.your-help-outer h2 {
    font-size: 40px;
    margin: 80px 0 50px;
}
.your-help-left p {
    font-size: 18px;
}
.your-help-left {
    padding: 0 20px 0 20px;
}
.saw-success-outer {
    padding: 0;
}
.saw-success-outer h2 {
    font-size: 40px;
    margin: 20px 0 20px;
}
.saw-success-outer h3 {
    font-size: 22px;
}
.saw-listing {
    padding: 50px 50px 40px;
}
.still-left h2 {
    font-size: 39px;
    margin: 30px 0 19px;
}
.still-left p {
    font-size: 18px;
    margin: 0 0 15px;
}
.still-left p strong {
    font-size: 20px;
}
.intrested-outer {
    padding: 60px 80px;
    margin: 50px 0 0;
}
.intrested-outer h2 {
    font-size: 28px;
}
.intrested-outer h3 {
    font-size: 60px;
    margin: 20px 0 20px;
}
.intrested-outer p {
    font-size: 18px;
    margin: 0 0 22px;
}
.local-lead-ryt h2 {
    font-size: 38px;
    line-height: 130%;
}
.local-lead-ryt h3 {
    font-size: 32px;
}
.local-lead-ryt img {
    width: 350px;
}
.client-outer h2 {
    font-size: 40px;
}
.client-outer li h3 {
    font-size: 90px;
}
.watch-video {
    margin: 50px 0 -130px;
}
.business-benifits-outer {
    padding: 250px 0 100px 0;
}
.one-time-access-outer {
    padding: 70px 50px 70px 50px;
}
.finding-tools-outer {
    padding: 80px 0 0 0;
}
.heading43 {
    font-size: 40px;
}
.finding-tools-outer h3 {
    padding: 0 0 50px 0!important;
}
.finding-tools-listing-text {
    width: 460px;
}
.finding-tools-listing {
    padding-bottom: 30px;
}
.finding-tools-listing-text h4 {
    font-size: 20px;
}
.everything-business {
    padding-top: 60px;
}
.everything-business h4 {
    font-size: 30px;
    margin: 15px 0 40px;
}
.categories-inner {
    padding: 50px 30px 50px;
    height: 100%;
}
.categories-inner h3 {
    font-size: 23px;
}
.categories-inner p {
    font-size: 20px;
}
.categories-outer {
    padding: 80px 0 90px;
}
.categories-single {
    position: relative;
}
.cat-features-outer {
    margin: 80px 0 123px;
}
.cat-features-top h4 {
    font-size: 18px;
    max-width: 80%;
}
.real-time-inner h2 {
    font-size: 40px;
}
.real-time-inner h3 {
    font-size: 27px;
}
.converting-outer-bg {
    padding: 0 0 40px;
}
.converting-inner-left h2 {
    font-size: 39px;
}
.converting-inner-left {
    padding: 0 0 0 40px;
}
.stunning-para p {
    padding: 0 60px 0 0;
}
.rejection-outer h2 {
    font-size: 40px;
}
.rejection-outer {
    padding: 40px 40px 70px;
}
.rejection-ryt p {
    font-size: 18px;
}
.first-market-outer {
    margin: 60px 0 30px;
}
.first-market-outer h3 {
    font-size: 22px;
    margin: 10px 0;
}
.research-outer {
    padding: 74px 27% 90px 112px;
}
.revenue-outer {
    padding: 80px 0 0;
}
.figure-bussiness {
    padding: 100px 0 150px;
}
.upgrade-inner-left h2 {
    font-size: 40px;
    padding: 20px 40px;
}
.upgrade-inner-left h3 {
    font-size: 28px;
    line-height: 120%;
}
.upgrade-inner-ryt img {
    width: 210px;
}
.upgrade-inner {
    padding: 80px 50px 109px;
}
.upgrade-para {
    padding: 0px 0 30px;
}
.pricing-inner {
    width: 31%;
}
.pricing-inner img {
    max-width: 90px;
}
.gift-today-outer h2 {
    font-size: 35px;
}
.books-retail-outer {
    padding: 90px 50px 60px;
}
.testmonial-outer {
    padding: 20px 0 100px;
}
.testmonial-text {
    margin: 0 1.5%;
}
.testmonial-inner {
    margin: 80px 0 0;
}
.testmonial-text p {
    font-size: 17px;
}
.testmonial-text h3 {
    font-size: 20px;
}
.two-choice-inner h2 {
    font-size: 40px;
}

.going-pay-outer {
    padding: 100px 0 0;
}
.real-time-inner .your-help-ryt {
    padding: 50px 20px 0 0px;
}
.hire-team {
    width: 555px;
    position: relative;
}

.hire-team li {
    font-size: 21px;
    line-height: 270%;
}
.graphic-outer {
    padding-bottom: 120px;
}
.act-fast-inner h2 {
    font-weight: 900;
    font-size: 120px;
    line-height: 120%;
}
.act-fast-outer {
    padding: 90px 0px 100px;
}
.satisfied-customer-outer {
    padding: 380px 0 0;
}
.satisfied-customer-top h3 {
    font-size: 42px;
    letter-spacing: 0.07em;
}
.satisfied-customer-top span {
    font-size: 28px;
    padding: 30px 0 50px;
}
.pricing-row-top-content h3 {
    font-size: 55px;
}
.pricing-row-top-content h4 {
    font-size: 30px;
}
.faq-inner p {
    font-size: 20px;
}
.instant-access-outer.money-back.payment-second-outer {
    margin-top: 100px;
}
.footer-outer {
    padding-top: 470px;
}
.footer-text {
    padding: 40px 0 0;
}
.footer-menu-outer {
    padding: 40px 0 20px;
}
.payment-second-outer .heading43 {
    padding-bottom: 30px;
}
.vimo-videos li {
    width: 31%;
}
.vimo-videos li iframe {
    height: 163px;
}



}


@media screen and (max-width:1270px) 
{
	
.auto-container {
    max-width: 960px;
}
.steps-inner li {
    width: 30.33%;
}
.banner-video-con {
    max-width: 800px;
}
.steps-glance.steps-inner01 {
	padding: 0 20px;
}
.steps-glance.steps-inner01 .marketer-ryt li span {
	width: 69%;
}
.banner-inner h1 {
    font-size: 35px;
}
.banner-inner p {
    font-size: 22px;
    margin: 10px 0 20px;
}
.banner-inner li {
    font-size: 18px;
}
.pay-card-outer li {
    width:53px;
}
.instant-access-ryt {
    padding: 65px 0 0 0;
}
.instant-access-ryt h2 {
    font-size: 27px;
}
.instant-access-ryt h3 {
    font-size: 58px;
}
.buy-now-btn span {
    width: 35px;
    height: 35px;
    padding: 10px 9px 0;
}
.buy-now-btn {
    font-size: 17px;
    padding: 8px 15px 8px 8px;
}
.steps-outer img {
    width: 70px;
}
.steps-outer h2 {
    font-size: 35px;
}
.steps-outer p {
    font-size: 20px;
}
.steps-inner {
    margin: 30px 0 80px;
}
.steps-inner li {
    padding: 30px 25px;
}
.steps-inner li span {
    width: 100px;
}
.steps-inner li h2 {
    font-size: 18px;
}
.steps-inner li p {
    font-size: 15px;
    margin: 13px 0 0;
    line-height: 170%;
}
.steps-inner li h3 {
    font-size: 50px;
    line-height: 50px;
    margin: 15px 0;
}
.steps-inner li::before {
    top: 45px;
    width: 260.32px;
}
.steps-inner li::after {
    top: 79px;
}
.steps-inner li:nth-child(2)::after {
    top: 47px;
}
.marketer-outer h2 {
    font-size: 30px;
}
.marketer-outer h3 {
    font-size: 35px;
}
.marketer-ryt {
    padding: 0;
}
.marketer-ryt li span {
    font-size: 15px;
    width: 84%;
}
.marketer-left img {
    max-width: 100%;
}
.marketer-outer h3 {
    font-size: 40px;
    margin: 15px 0 30px;
}
.marketer-ryt li {
    margin: 0 0 15px;
}
.succeed-inner h2 {
    font-size: 20px;
}
.succeed-inner h3 {
    font-size: 38px;
    margin: 15px 0 40px;
}
.succeed-ryt {
    padding: 0px 0 0 30px;
}
.succeed-outer {
    padding: 124px 0 100px;
}
.facts-outer h2 {
    font-size: 180px;
    line-height: 180px;
}
.facts-outer h3 {
    font-size: 38px;
}
.facts-outer h4 {
    font-size: 30px;
}
.facts-outer p {
    font-size: 18px;
    margin: 20px 0 40px;
}
.facts-left-list li span {
    width: 85%;
    margin: 0 0 15px 15px;
}

.service-type-outer {
    padding: 60px 0 40px;
}
.service-type-inner h2 {
    font-size: 30px;
    padding: 25px 0px;
}
.service-inner-left {
    padding: 0 25px 0 0;
}
.decription-outer {
    padding: 45px 45px 0;
}
.service-inner-left p {
    font-size: 16px;
}

.your-help-outer h2 {
    font-size: 37px;
    margin: 80px 0 40px;
}
.saw-success-outer h2 {
    font-size: 38px;
    margin: 20px 0 20px;
}
.still-left h2 {
    font-size: 35px;
    margin: 20px 0 15px;
}
.still-left p {
    font-size: 20px;
    padding-right: 8%;
}
.listing-services li {
    font-size: 16px;
}
.listing-services.still-con li span {
    margin: 0 0 0 10px;
}
.intrested-outer {
    padding: 60px 50px;
}
.intrested-outer h3 {
    font-size: 55px;
}
.intrested-outer p {
    margin: 0 0 15px;
}
section.still-outer {
    padding: 100px 0 100px;
}
.local-lead-ryt h2 {
    font-size: 35px;
    line-height: 120%;
}
.local-lead-ryt h3 {
    font-size: 28px;
}
.local-lead-ryt img {
    width: 300px;
}
.client-outer h2 {
    font-size: 33px;
}
.client-outer {
    margin: 20px 0 0;
}
.client-outer li {
    width: 31%;
    padding: 25px 20px 30px;
}
.client-outer li p {
    font-size: 15px;
    margin: 0px 0 15px;
}
.watch-video h2 {
    font-size: 38px;
}
.business-benifits-outer {
    padding: 220px 0 80px 0;
}
.heading43 {
    font-size: 38px;
}
.business-benifits-inner img {
    width: 100px;
}
.business-benifits-inner {
    padding: 40px 30px 46px;
}
.business-benifits-inner h4 {
    font-size: 20px;
    line-height: 122%;
}
.business-benifits-inner p {
    font-size: 15px;
}
.one-time-access-outer {
    padding: 70px 40px;
}
.finding-tools-listing-icon {
    width: 50px;
}
.finding-tools-listing-text {
    width: 84%;
}
.finding-tools-listing-text p {
    font-size: 15px;
    line-height: 180%;
    margin: 7px 0 0;
}
.finding-tools-listing-text h4 {
    font-size: 18px;
}
.finding-tools-content {
    width: 50%;
    padding-right: 20px;
    padding-top: 40px;
}
.everything-business h4 {
    font-size: 25px;
    margin: 15px 0 40px;
}
.everything-tools-right {
    padding-left: 30px;
    padding-top: 17px;
}
.everything-tools-right li {
    margin-top: 10px;
    font-size: 17px;
}
.categories-inner p {
    font-size: 18px;
}
.cat-features-top img {
    width: 50px;
}
.cat-features-top h4 {
    font-size: 17px;
    max-width: 78%;
}
.real-time-inner h2 {
    font-size: 37px;
}
.real-time-inner h3 {
    font-size: 25px;
}
.pricing-inner {
    width: 30%;
	padding: 40px 20px;
}
p, li {
    font-size: 16px;
}
.pricing-inner p {
    min-height: 150px;
}
.pricing-inner h2 {
    font-size: 18px;
}
.books-retail-outer {
    padding: 80px 40px 60px;
}
.reseller-con {
    margin: 0 8px 16px;
}
.hire-team span {
    width: 250px;
    font-size: 18px;
    height: 36px;
}
.hire-team h2 {
    font-size: 22px;
    margin: 0 0 15px;
}
.hire-team li {
    font-size: 18px;
    background-size: 30px;
    padding: 0 0 0 80px;
}
.hire-team h3 {
    font-size: 20px;
    line-height: 22px;
    margin: 40px 0 10px;
}
.hire-team {
    width: 435px;
}
.graphic-outer {
    padding-bottom: 100px;
}
.act-fast-inner h2 {
    font-size: 100px;
    line-height: 100%;
}
.act-fast-inner .heading43 {
    padding: 0 4% 30px;
    font-size: 30px;
}
.pricing-row-outer {
    width: 435px;
    margin: 0 15px;
}
.most-popular {
    font-size: 16px;
}
.pricing-row-content > ul {
    padding: 0 20px 0 20px;
}
.pricing-row-content > ul > li {
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 18.4px;
    padding: 0px 0 2px 41px;
}
.pricing-row-payment {
    padding: 20px 0 0 0;
}
.pricing-row-payment h3 {
    font-size: 33px;
}
.instant-access-outer.money-back.payment-second-outer {
    padding: 70px 40px 49px;
}
.footer-menu li {
    font-size: 13px;
    margin-left: 25px;
}
.faq-inner p {
    font-size: 18px;
}
.faq-inner {
    padding: 30px;
}
.faq-inner h4 {
    font-size: 22px;
}
.converting-inner-ryt.converting-inner-ryt1 img {
    max-width: 100%;
    align-self: center;
}
.figure-bussiness-ryt img {
    max-width: 100%;
    left: -30px;
}
.upgrade-inner-left h3 br {
    display: none;
}
.converting-inner-ryt img {
    max-width: 100%;
    align-self: center;
}
.converting-inner-left p {
    font-size: 16px;
    padding: 0 30px 0 0;
}
.converting-inner-left h2 br {
    display: inline-block;
}
.col-sm-7.popup-left {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.col-sm-5.popup-right {
    margin: 0 0 0 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 9%);
    padding: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.testmonial-text p {
    font-size: 15px;
}
br
{
    display: none;
}
}



@media screen and (max-width:991px) 
{
.auto-container {
    max-width: 760px;
}
.col-sm-7.popup-left {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.col-sm-5.popup-right {
    margin: 0 0 0 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 9%);
    padding: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.logo-outer {
    width: 150px;
}
.nav-outer {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 55px;
    left: 0;
}
.banner-inner h1 {
    font-size: 30px;
}
.banner-outer {
    background-size: cover;
	background: url(../images/banner-img.png) no-repeat top;
}
.banner-video-con {
    max-width: 550px;
}
.instant-access-outer {
    padding: 0px 20px 61px 0px;
    margin: 50px 0;
}
.instant-access-lft {
    padding: 0 30px 0 0;
}
.instant-access-ryt h2 {
    font-size: 25px;
}
.instant-access-ryt h3 {
    font-size: 50px;
}
.buy-now-btn {
    font-size: 15px;
    padding: 8px 15px 8px 8px;
    letter-spacing: -0.2px;
}
.pay-card-outer {
    padding: 12px 10px 22px;
}
.pay-card-outer li {
    width: 44px;
}
.steps-outer img {
    width: 60px;
}
.steps-outer h2 {
    font-size: 30px;
}
.steps-outer p {
    font-size: 18px;
}
.steps-outer p br {
    display: none;
}
.steps-inner li span {
    width: 80px;
}
.steps-inner li::before {
    top: 45px;
    left: 92px;
}
.steps-inner {
    margin: 30px 0 80px;
	padding: 40px 10px;
}

.steps-inner li {
    width: 29.33%;
	padding: 30px 20px;
}
.steps-inner li h2 {
    font-size: 16px;
}
.steps-inner li h3 {
    font-size: 35px;
    line-height: 40px;
    margin: 15px 0 0;
}
.marketer-outer h2 {
    font-size: 28px;
}
.marketer-outer h3 {
    font-size: 35px;
}
.marketer-ryt li img {
    width: 50px;
    margin: 0 10px 0 0;
}
.marketer-ryt li span {
    font-size: 14px;
    width: 83%;
}
.succeed-outer {
    border-radius: 0px 200px;
    padding: 80px 0;
}
.succeed-inner h2 {
    font-size: 18px;
    padding: 0 50px;
}
.succeed-inner h3 {
    font-size: 30px;
    margin: 15px 0 20px;
}
.succeed-ryt p {
    font-size: 16px;
    margin: 10px 0;
}
.facts-outer h2 {
    font-size: 150px;
    line-height: 140px;
}
.facts-outer h3 {
    font-size: 30px;
}
.facts-outer h4 {
    font-size: 25px;
}
.facts-outer p br {
    display: none;
}
.facts-outer p {
    font-size: 16px;
    margin: 20px 0 25px;
}
.facts-left-list li img {
    width: 30px;
}
.facts-left-list li span {
    width: 82%;
    margin: 0 0 15px 5px;
    font-size: 16px;
}
.service-type-inner h2 {
    font-size: 25px;
    padding: 25px 15px;
}
.decription-outer {
    padding: 30px 30px 0;
}
.service-inner-ryt {
    width: 45%;
}
.listing-services {
    padding: 0 30px 30px;
}
.your-help-outer h2 {
    font-size: 30px;
    margin: 60px 0 30px;
}
.your-help-left p {
    font-size: 16px;
}
.saw-success-outer h2 {
    font-size: 30px;
    margin: 20px 0 20px;
}
.saw-success-outer p {
    font-size: 17px;
}
.saw-success-outer h3 {
    font-size: 20px;
    margin: 15px 0 0;
}
.still-left p {
    font-size: 16px;
    padding-right: 3%;
}
.still-left h2 {
    font-size: 30px;
    margin: 20px 0 15px;
}
.still-left p strong {
    font-size: 18px;
}

.still-con {
    margin: 30px 0 0;
    padding: 40px 30px;
}	
.intrested-outer {
    padding:0;
}
.saw-success-outer h2 {
    font-size: 30px;
}
.intrested-outer h3 {
    font-size: 45px;
}
.intrested-outer p {
    margin: 0 0 15px;
    font-size: 16px;
}
.still-outer {
    padding: 80px 0 60px;
}
.local-lead-outer {
    border-radius: 0px 100px;
    padding: 80px 0 0 0;
}
.local-lead-ryt h2 br {
    display: none;
}
.local-lead-ryt h2 {
    font-size: 30px;
    padding: 0 15px 0 0;
}
.local-lead-ryt h3 {
    font-size: 20px;
}
.local-lead-ryt img {
    width: 200px;
}
.client-outer h2 {
    font-size: 30px;
}
.client-outer h2 br {
    display: none;
}
.client-outer li p br {
    display: none;
}
.client-outer li h3 {
    font-size: 80px;
}
.client-outer li p {
    min-height: 130px;
}
.client-outer li:first-child span:before, .client-outer li:nth-child(2n) span:before, .client-outer li:nth-child(3n) span:before {
    height: 120px;
}
.client-outer li {
    width: 30.33%;
    padding: 20px 15px 20px;
}
.watch-video h2 {
    font-size: 30px;
    margin: 0 0 30px;
}
.business-benifits-outer {
    padding: 200px 0 60px 0;
}
.heading43 {
    font-size: 30px;
}
.business-benifits h3 {
    padding-bottom: 10px;
}
.business-benifits {
    padding: 60px 20px 40px;
}
.business-benifits-inner {
    padding: 30px 20px 40px;
}
.business-benifits-inner img {
    width: 80px;
}
.business-benifits-inner h4 {
    font-size: 18px;
    line-height: 119%;
}
.business-benifits-inner p {
    font-size: 15px;
    line-height: 25px;
}
.business-benifits-single {
    width: 33.33%;
    padding: 10px;
}
.one-time-access-outer {
    padding: 60px 20px;
    margin: 50px 0 0;
}
.finding-tools-outer h3 {
    padding: 0 0 30px 0!important;
}
.everything-business h4 {
    font-size: 20px;
    margin: 15px 0 20px;
}
.everything-tools-right {
    padding-left: 20px;
}
.everything-tools-right ul {
    padding: 5px 0 0;
}
.everything-tools-right li {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px 30px;
}
.categories-outer {
    padding: 60px 0 50px;
}
.categories-inner h3 {
    font-size: 20px;
}
.categories-inner::before {
    height: 170px;
}
.categories-inner {
    padding: 50px 30px 30px;
    height: 100%;
}
.categories-wrapper {
    margin: 0;
}
.categories-single {
    padding: 10px;
}
.cat-features-outer {
    border-radius: 0 100px;
    padding: 80px 0 80px;
}
.cat-features-iner {
    padding: 30px 20px;
}
.cat-features-top h4 {
    font-size: 16px;
    max-width: 78%;
}
.cat-features-top img {
    width: 40px;
    height: 40px;
}
.cat-features-top h4 br {
    display: none;
}
.cat-features-bottom {
    font-size: 15px;
    line-height: 135%;
}
.cat-features-wrapper {
    margin: 0;
}
.cat-features-single {
    padding: 5px;
}
.cat-features-outer::after {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 35px solid #FFC70A;
    margin-left: -35px; 
}
.cat-features-outer {
    margin: 80px 0 80px;
}
.platform-inner {
    margin: 60px 0;
}
.platform-inner h2 {
    font-size: 30px;
}
.platform-inner h3 {
    font-size: 35px;
    line-height: 120%;
    margin: 10px 0 10px;
}
br
{
	display:none;
}
.real-time-inner h2 {
    font-size: 30px;
}
.real-time-inner h3 {
    font-size: 20px;
}
.real-time-inner {
    padding: 60px 30px;
}
.converting-outer {
    padding: 60px 0 0;
}
.converting-inner-left {
    padding: 0;
}
.converting-inner-left h2 {
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 10px;
}
.converting-inner-left p {
    font-size: 16px;
    line-height: 150%;
    padding: 0 50px 0 0;
}
.rejection-outer h2 {
    font-size: 30px;
    margin: 0 0 15px;
}
.rejection-ryt {
    padding: 0 0 0 20px;
}
.rejection-ryt p {
    font-size: 16px;
    margin: 0 0 10px;
}
.rejection-outer {
    padding: 50px 30px 50px;
}
.research-outer {
    padding: 50px 40px 50px;
}
.research-outer h2 {
    font-size: 30px;
	margin:0 0 10px;
}
.research-outer p {
    padding: 0 30% 0 0;
    margin: 0 0 10px;
    line-height: 22px;
}
.revenue-outer {
    padding: 60px 0 0;
}
.saw-listing {
    padding: 30px;
}
.figure-bussiness-inner h2 {
    margin: 30px 0 40px;
}
.upgrade-inner {
    padding: 60px 40px 70px;
}
.upgrade-inner-left h2 {
    font-size: 30px;
    padding: 20px 40px;
}
.upgrade-inner-left h3 {
    font-size: 22px;
    line-height: 120%;
}
.upgrade-inner-ryt img {
    width: 140px;
}
.upgrade-inner-left {
    padding: 50px 0 0;
}
.blue-shade-bg-con {
    padding: 0 20px 40px;
    border-radius: 0 0 30px 30px;
}
.pricing-inner img {
    max-width: 70px;
}
.pricing-inner {
    padding: 40px 15px;
}
.pricing-inner p {
    min-height: 190px;
}
.upgrade-para {
    padding: 0 0 10px;
}
.gift-today-outer {
    margin: 60px 0 -20px;
	padding: 50px 30px;
}
.gift-today-outer h2 {
    font-size: 30px;
}
.books-retail-outer {
    padding: 60px 20px 30px;
}
.reseller-con {
    margin: 0 6px 12px;
}
.testmonial-text span {
    width: 60px;
    height: 60px;
	padding: 18px 0 0;
}
.testmonial-text span img {
    width: 30px;
}
.testmonial-text {
    margin: 0 12px;
    padding: 20px 15px 30px;
    width: 30%;
}
.testmonial-text p {
    font-size: 16px;
    line-height: 22px;
}
.testmonial-text h3 {
    font-size: 18px;
}
.testmonial-inner {
    margin: 70px 0 0;
}
.testmonial-outer {
    padding: 20px 0 70px;
}
.two-choice-inner h2 {
    font-size: 25px;
}
.two-choice-outer {
    border-radius: 0 150px;
    padding: 70px 0;
}
.two-choice-ryt {
    padding: 0;
}
.going-pay-outer {
    padding: 80px 0 0;
}
.hire-team {
    width: 345px;
    padding: 70px 20px;
    margin: 0 10px;
}
.hire-team h2 br {
    display: none;
}
.hire-team li {
    font-size: 17px;
    background-size: 25px !important;
    padding: 0 0 0 50px;
}
.hire-team li {
    background: url(../images/yellow-arrow.png) no-repeat 10px;
}
.hire-team h2 {
    font-size: 22px;
    margin: 0 0 15px;
    min-height: 100px;
}
.graphic-outer {
    padding-bottom: 80px;
}
.act-fast-inner h2 {
    font-size: 80px;
    line-height: 90%;
}
.act-fast-right p {
    line-height: 22px;
}
.act-fast-bottom-img {
    width: 160px;
}
.satisfied-customer-outer {
    padding: 360px 0 0;
}
.satisfied-customer-top h3 {
    font-size: 35px;
}
.satisfied-customer-top span {
    font-size: 20px;
    padding: 15px 0 30px;
}
.pricing-row-outer {
    width: 345px;
    margin: 0 10px;
}
.pricing-row-top-content h3 {
    font-size: 35px;
}
.most-popular {
    font-size: 14px;
    padding: 3px 22px 4px;
}
.pricing-row-top-content img {
    margin: -30px 0 -40px;
    width: 170px;
}
.pricing-row-content {
    padding: 20px 20px 30px;
}
.pricing-row-payment h3 {
    font-size: 25px;
}
.pricing-row-payment span {
    font-size: 18px;
}
.pricing-row-content > ul {
    padding: 0 10px;
}
.faq-outer {
    padding-top: 60px;
}
.faq-inner p {
    font-size: 16px;
}
.faq-outer .heading43 {
    text-align: center;
    padding-bottom: 25px;
}
.instant-access-outer.money-back.payment-second-outer {
    padding: 60px 20px 50px;
    margin: 50px 0 0;
}
.footer-outer {
    padding-top: 450px;
}
.footer-outer h5 {
    margin: 0 0 30px;
}
.footer-left {
    padding-right: 5%;
}
.footer-right {
    padding-left: 5%;
}
.footer-text {
    padding: 20px 0 0;
}
.footer-copyright {
    padding: 30px 0;
}
.footer-logo {
    width: 140px;
}
.footer-menu li {
    font-size: 12px;
    margin-left: 18px;
}
.footer-menu-outer {
    padding: 20px 0 5px;
}
.converting-inner-ryt {
    display: inline-block;
}
.converting-inner-ryt img, .figure-bussiness-ryt img {
    width: 100%;
}

.header .menu-icon {
    top: -60px;
}

.header .menu-icon .navicon {
    background: #fff;
    height: 3px;
    width: 25px;
}
.header .menu-icon .navicon:before {
    top: 8px;
	background: #fff;
}
.header .menu-icon .navicon:after {
    top: -8px;
	background: #fff;
}
.header .menu-btn:checked ~ .menu {
    max-height: unset;
    background: #ffff;
    position: absolute;
    z-index: 9;
    padding: 30px 0 30px;
    top: 100px;
    width: 100%;
    left: 0;
}
.nav-outer li a {
    color: #4e4e4e;
    font-size: 15px;
    margin: 0;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 15px;
    border-bottom: 1px solid #f5f5f5;
}
.nav-outer li {
    display: inline-block;
    margin: 0 !important;
    width: 100%;
    text-align: center;
}
.Request-btn {
    width: 180px !important;
    color: #fff !important;
    padding: 10px 30px 10px 10px !important;
    display: inline-block !important;
	margin:10px 0 !important;
}
.pricing-row-content > ul > li {
    font-size: 15px;
    padding: 1px 0 4px 41px;
}

.act-fast-outer {
    border-radius: 0 50px;
}
.figure-bussiness {
    border-radius: 50px 0px;
}
.order-now-btn a {
    padding: 10px 15px;
    font-size: 20px;
}
.cart-icon {
    height: 32px;
    width: 25px;
}
section.still-outer {
    padding: 70px 0 80px;
}
.vimo-videos {
    margin: 0 0 50px 0;
}
.listing-services.still-con  p {
    margin: 0 0 20px;
    font-size: 25px;
}
.faq-inner h4 {
    font-size: 20px;
    margin: 0 0 8px;
}
.faq-inner p {
    font-size: 15px;
}
.faq-inner {
    padding: 25px 20px;
}



}




@media screen and (max-width:767px) 
{
.auto-container {
    max-width: 100%;
    width: 100%;
	padding:0 15px;
}
.col-sm-7.popup-left {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.col-sm-5.popup-right {
    margin: 0 0 0 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 9%);
    padding: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.banner-video-con {
    max-width: 500px;
}
.instant-access-lft {
    padding: 0;
    width: 100%;
    text-align: center;
}

.steps-glance.steps-inner01 {
	padding: 20px 0;
	width: 100%;
}.steps-glance.steps-inner02 {
	width: 100%;
}

.instant-access-outer {
    padding: 20px;
    margin: 50px 0;
}
.instant-access-ryt {
    padding: 40px 0 0 0;
    width: 100%;
}
.instant-access-ryt h2 {
    font-size: 22px;
}
.instant-access-ryt h3 {
    font-size: 45px;
}
.pay-card-outer {
    width: 290px;
    display: inline-block;
}
.steps-inner li::before, .steps-inner li::after 
{
	display:none;
  
}
.steps-inner li {
    width: 100%;
    padding: 30px 20px;
    margin: 0 0 15px !important;
}
.steps-inner {
    margin: 30px 0 80px;
    padding: 15px 15px;
}
.marketer-left {
    width: 100%;
}
.marketer-ryt {
    width: 100%;
}
.succeed-left {
    width: 100%;
}
.succeed-ryt {
    padding: 0;
    width: 100%;
    margin: 10px 0 0;
	text-align:center;
}
.succeed-outer {
    border-radius: 0 50px;
    padding: 50px 5px;
}
.facts-outer h2 {
    font-size: 120px;
    line-height: 110px;
}
.facts-left-list {
    width: 100%;
}
.facts-left-list li {
    display: inline-block;
    width: 100%;
}
.facts-left-list li span {
    width: 91%;
    margin: 0 0 15px 5px;
    font-size: 16px;
}
.facts-left-list
{
	text-align:center;
}
.service-inner-left {
    padding: 0;
    width: 100%;
    text-align: center;
}
.service-inner-ryt {
    width: 100%;
    text-align: center;
}
.listing-services h3 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}
.listing-services ul {
    width: 100%;
}
.listing-services li {
    font-size: 16px;
    margin: 0 0 15px;
}
.your-help-left {
    padding: 0 20px 0 20px;
    width: 100%;
    text-align: center;
}
.your-help-outer h2 {
    margin: 60px 0 10px;
}
.your-help-ryt {
    width: 100%;
}
.still-left {
    width: 100%;
    text-align: center;
    padding: 20px 0 0;
}
.still-ryt {
    width: 100%;
    text-align: center;
}
.intrested-outer h3 {
    font-size: 35px;
}
.intrested-outer h2 {
    font-size: 25px;
}
section.still-outer {
    padding: 60px 0 60px;
}
.local-lead-outer {
    border-radius: 0px 50px;
    padding: 50px 0 0 0;
}
.local-lead-left {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.local-lead-ryt {
    width: 100%;
    padding: 20px 15px 0;
    text-align: center;
}
.client-outer li {
    width: 370px;
    padding: 20px 15px 20px;
    margin: 0 0 15px;
}
.client-outer li:first-child span:before, .client-outer li:nth-child(2n) span:before, .client-outer li:nth-child(3n) span:before {
    height: 180px;
}
.client-outer li p {
    min-height: auto;
}
.business-benifits-single {
    width: 100%;
    padding: 10px;
}
.one-time-access-outer {
    padding: 30px 20px;
    margin: 50px 0 0;
}
.one-time-access-left {
    width: 100%;
    text-align: center;
}

.finding-tools-content {
    width: 100%;
    padding-right: 0;
    padding-top: 20px;
}
.finding-tools-listing-text {
    width: 89%;
	text-align:left;
}
.finding-tools-inner {
    width: 100%;
    text-align: center;
	display:inline-block;
}
.finding-tools-img {
    width: 100%;
}
.everything-business {
    padding-top: 20px;
}
.everything-tools-inner .finding-tools-img {
    text-align: center;
}
.everything-tools-right {
    padding: 20px 0 0;
    width: 100%;
    text-align: center;
}
.everything-tools-right li {
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 2px 33px;
    text-align: left;
    background-size: 17px;
}
.categories-outer {
    padding: 40px 0 0;
}
.categories-single {
    width: 100%;
    padding: 21px;
}
.categories-inner p {
    font-size: 18px;
    min-height: auto;
    margin: 0 0 30px;
}
.categories-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.categories-single {
    width: 450px;
    padding: 0 0 15px;
    display: inline-block;
}
.cat-features-outer {
    border-radius: 0 50px;
    padding: 50px 0;
}
.cat-features-outer {
    margin: 50px 0 50px;
}
.cat-features-single {
    width: 50%;
}
.cat-features-outer::after {
    top: 100%;
    border-top-color: #FFC70A !important;
}

.your-help-left.platform-text {
    padding: 0;
    text-align: center;
}
.your-help-left p {
    font-size: 16px;
    text-align: center;
}
.real-time-inner .your-help-ryt {
    padding: 30px 0 0;
}
.real-time-inner .your-help-left.platform-text {
    padding: 0;
}
.real-time-inner {
    padding: 40px 25px 30px;
}
.converting-inner-left {
    padding: 0;
    width: 100%;
    text-align: center;
}
.converting-inner-ryt {
    display: inline-block;
    width: 100%;
}
.converting-inner-ryt {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.converting-inner-left p {
    padding: 0;
}
.converting-outer-bg {
    padding: 0 0 40px;
    margin: 0;
}
.rejection-left {
    width: 100%;
    text-align: center;
}

.rejection-ryt {
    padding: 20px 0 0;
    text-align: center;
    width: 100%;
}
.research-outer {
    padding: 40px 20px;
    text-align: center;
}
.research-outer p {
    padding: 0;
    margin: 0 0 10px;
    line-height: 22px;
}
.figure-bussiness-left {
    width: 100%;
    text-align: center;
}
.figure-bussiness-ryt {
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
}
.upgrade-inner {
    padding: 60px 40px 70px;
    margin: 50px 0 0;
}
.upgrade-inner-left {
    padding: 0;
    width: 100%;
}
.upgrade-inner-ryt {
    width: 100%;
}
.upgrade-inner-ryt img {
    width: 90px;
}
.pricing-inner {
    padding: 40px 15px;
    width: 100%;
    margin: 0 0 15px;
}
.figure-bussiness {
    padding: 60px 30px 50px;
}
.pricing-inner p {
    min-height: auto;
}
.gift-today-outer h2 {
    font-size: 20px;
}
.gift-today-outer {
    margin: 40px 0 -20px;
    padding: 30px 20px;
}
.reseller-con {
    margin: 0 0 15px;
    width: 100%;
}
.money-back-con {
    margin: 50px 0;
}


.converting-inner-ryt img {
    max-width: 450px;
}
.instant-access-outer.money-back {
    padding-top: 30px;
}
.testmonial-text {
    margin: 0 0 65px;
    padding: 20px 15px 30px;
    width: 100%;
}
.testmonial-outer {
    padding: 20px 0 20px;
}
.two-choice-left {
    width: 100%;
}
.two-choice-ryt {
    padding: 0;
    width: 100%;
    text-align: center;
}
.going-pay-outer {
    padding: 50px 0 0;
}
.graphic-inner {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.hire-team {
    width: 400px;
    padding: 70px 20px;
    margin: 0 0 15px;
	display:inline-block;
}
.graphic-outer {
    padding-bottom: 50px;
}
.act-fast-outer {
    padding: 50px 0;
    border-radius: 0 50px;
}
.act-fast-inner h2 {
    font-size: 70px;
    line-height: 90%;
}
.act-fast-left {
    width: 100%;
    text-align: center;
}
.act-fast-right {
    width: 100%;
    max-width: 650px;
    padding-left: 0;
    text-align: center;
}

.instant-access-lft img, .marketer-left img, .succeed-left img, .facts-left-list img, .service-inner-ryt img, 
.your-help-ryt img, .still-ryt img, .local-lead-left img, .one-time-access-left img , .finding-tools-img img, .rejection-left img, .act-fast-left img, .intrested-outer-content-right img
{
    max-width: 450px;
	float:none;
}
.act-fast-bottom-img {
    width: 100%;
}
.pricing-row-outer {
    width: 400px;
    margin: 0 0 15px;
}

.pricing-row-top-content img {
    width: 120px;
}
.footer-menu-outer {
    padding: 20px 0 5px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.footer-logo {
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
}
.footer-menu {
    margin-left: auto;
    width: 100%;
    display: block;
    float: left;
}
.footer-copyright {
    padding: 20px 0;
}
.footer-text {
    text-align: center;
}
.footer-left {
    padding-right: 0;
    text-align: center;
    width: 100%;
}
.footer-right {
    padding-left: 0;
    width: 100%;
    text-align: center;
    margin: 15px 0 0;
}
.footer-left {
    padding-right: 0;
    text-align: center;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #2c2c2c;
    padding: 0 0 19px;
}

.converting-inner-ryt img, .figure-bussiness-ryt img {
    width: 100%;
    left: 0;
}
.upgrade-inner {
    padding: 40px 15px 40px;
    margin: 40px 0 0;
}
.upgrade-inner-left h2 {
    font-size: 20px;
    padding: 15px 10px;
}
.upgrade-inner-ryt img {
    width: 70px;
}
.blue-shade-bg-con {
    padding: 0 15px;
    border-radius: 0 0 30px 30px;
}
.two-choice-outer {
    border-radius: 0 50px;
    padding: 50px 0;
}
.two-choice-inner h2 {
    font-size: 20px;
}
.hire-team h2 {
    min-height: 90px;
}
.hire-team li {
    line-height: 40px;
}

.vimo-videos li {
    width: 280px;
}
.vimo-videos {
    margin: 0;
}
.first-market-left {
    width: 100%;
	padding:0 0 20px;
}
.first-market-flex {
    display: inline-block;
    text-align: center;
}
.first-market-right {
    width: 100%;
}
.seprate-text {
    text-align: center;
    font-size: 20px;
}
.intrested-outer-content-left {
    width: 100%;
    text-align: center;
}
.intrested-outer-content-right {
    text-align: center;
	width:100%;
	max-width:100%;
}
.intrested-outer-content {
    display: inline-block;
    text-align: center;
}
.intrested-outer {
    padding:0;
}



	
}



@media screen and (max-width:639px) 
{

.instant-access-lft img, .marketer-left img, .succeed-left img, .facts-left-list img, .service-inner-ryt img, .your-help-ryt img, .still-ryt img, .local-lead-left img, .one-time-access-left img, .finding-tools-img img, .rejection-left img, .act-fast-left img, .intrested-outer-content-right img {
    max-width: 100%;
    float: none;
}
.col-sm-7.popup-left {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.col-sm-5.popup-right {
    margin: 0 0 0 0px;
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 9%);
    padding: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.hire-team {
    width: 100%;
}
.categories-single {
    width: 100%;
}
.cat-features-single {
    width: 100%;
    padding: 0 0 15px;
}
.client-outer li {
    width: 100%;
}
.banner-inner {
    padding: 125px 0 15px 0;
}
.banner-inner h1 {
    font-size: 31px;
}
.banner-inner p {
    font-size: 18px;
    margin: 10px 0 20px;
    letter-spacing: 1px;
    line-height: 15px;
}
.banner-inner li {
    font-size: 16px;
    width: 100%;
    margin: 0 0 10px;
    width: 100%;
    text-align: left;
}
.banner-video-con {
    max-width: 500px;
    padding: 0 0 40px;
}
.buy-now-btn {
    font-size: 21px;
    padding: 8px 15px 8px 8px;
    letter-spacing: -0.1px;
}
.pay-card-outer {
    width: 100%;
}
.pay-card-outer li {
    width: 39px;
}
.steps-outer img {
    width: 40px;
}
.steps-outer h2 {
    font-size: 20px;
}
.steps-outer p {
    font-size: 15px;
}
.steps-inner li h3 {
    font-size: 50px;
    line-height: 40px;
    margin: 15px 0 0;
}

.marketer-outer h2 {
    font-size: 20px;
}
.marketer-outer h3 {
    font-size: 25px;
}
.marketer-ryt li span {
    font-size: 14px;
    width: 79%;
}
.succeed-inner h2 {
    font-size: 17px;
    padding: 0;
}
.succeed-inner h3 {
    font-size: 25px;
    margin: 15px 0 20px;
}
.facts-outer h2 {
    font-size: 70px;
    line-height: 70px;
}
.facts-outer h3 {
    font-size: 25px;
}
.facts-outer h4 {
    font-size: 20px;
}
.facts-left-list li span {
    width: 84%;
    margin: 0 0 15px 5px;
    font-size: 15px;
}
.facts-outer p {
    font-size: 15px;
    margin: 20px 0 25px;
}
.service-type-outer {
    padding: 40px 0 40px;
}
.service-type-inner h2 {
    font-size: 20px;
    padding: 25px 15px;
}
.service-inner-left p {
    font-size: 15px;
    line-height: 22px;
}
.listing-services li {
    font-size: 15px;
    margin: 0 0 15px;
    line-height: 20px;
}
.your-help-outer h2 {
    margin: 40px 0 10px;
    font-size: 25px;
}
.your-help-left p {
    font-size: 15px;
    text-align: center;
}
p, li {
    font-size: 15px !important;
}
.saw-success-outer h2 {
    font-size: 25px;
}
.still-left h2 {
    font-size: 25px;
    margin: 20px 0 15px;
}
.still-con {
    margin: 30px 0 0;
    padding: 40px 15px;
}
.listing-services.still-con li img {
    width: 40px;
}
.intrested-outer h2 {
    font-size: 20px;
}
.intrested-outer h3 {
    font-size: 25px;
    margin: 10px 0;
}

.local-lead-ryt h2 {
    font-size: 20px;
    padding: 0;
}
.local-lead-ryt h3 {
    font-size: 18px;
}
.local-lead-ryt img {
    width: 150px;
}
.client-outer h2 {
    font-size: 20px;
}
.client-outer li h3 {
    font-size: 60px;
}
.watch-video {
    margin: 0;
}
.watch-video h2 {
    font-size: 25px;
    margin: 15px 0 30px;
}
.business-benifits-outer {
    padding: 40px 0 50px 0;
}
.heading43 {
    font-size: 25px;
}
.business-benifits {
    padding: 40px 15px 40px;
}
.instant-access-ryt h3 {
    font-size: 40px;
}
.finding-tools-outer {
    padding: 40px 0 0 0;
}
.finding-tools-outer h3 {
    padding: 0 0 30px 0!important;
}
.finding-tools-listing-text {
    width: 79%;
}
.finding-tools-listing-text h4 {
    font-size: 16px;
}
.everything-business h4 {
    font-size: 18px;
    margin: 15px 0 20px;
}
.categories-inner::before {
    height: 140px;
}
.cat-features-outer::after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid #E5EBF3;
    margin-left: -25px;
}
.instant-access-outer {
    padding: 20px;
    margin: 40px 0;
}
.instant-access-ryt p {
    font-size: 13px !important;
}
.platform-inner h2 {
    font-size: 20px;
}
.platform-inner h3 {
    font-size: 25px;
}
.platform-inner {
    margin: 40px 0;
}
.real-time-inner {
    padding: 35px 15px 30px;
}
.real-time-inner h2 {
    font-size: 25px;
}
.real-time-inner h3 {
    font-size: 18px;
}
.converting-inner-left h2 {
    font-size: 25px;
}
.rejection-outer h2 {
    font-size: 25px;
    margin: 0 0 15px;
}
.rejection-outer {
    padding: 40px 15px;
}
.first-market-outer {
    margin: 30px 0 30px;
}
.first-market-outer h3 {
    font-size: 18px;
    margin: 10px 0;
	padding:15px;
}
.research-outer h2 {
    font-size: 25px;
    margin: 0 0 10px;
    line-height: 25px;
}
.revenue-outer {
    padding: 40px 0 0;
}
.figure-bussiness {
    padding: 40px 15px 40px;
    color: #434343;
    background: #434343;
    border-radius: 50px 0;
}
.figure-bussiness-inner h2 {
    margin: 0;
}
.hire-team span {
    width: 190px;
    font-size: 14px;
    height: 28px;
    padding: 5px 0 0;
}
.hire-team h2 {
    font-size: 20px;
    margin: 0 0 20px;
    min-height: auto;
}
.hire-team h3 {
    font-size: 18px;
    line-height: 18px;
    margin: 30px 0 10px;
}
.hire-team h4 {
    font-size: 35px;
}
.hire-team {
    padding: 60px 20px 40px;
}
.graphic-outer {
    padding-bottom: 40px;
}
.act-fast-inner h2 {
    font-size: 40px;
    line-height: 90%;
}
.act-fast-inner .heading43 {
    padding: 0 0 10px;
    font-size: 20px;
}
.satisfied-customer-top h3 {
    font-size: 30px;
    line-height: 30px;
}
.satisfied-customer-top span {
    font-size: 18px;
    padding: 10px 0 20px;
}
.pricing-row-top-content h3 {
    font-size: 25px;
}
.pricing-row-top-content img {
    width: 80px;
}
.pricing-row-top-content h4 {
    font-size: 25px;
}
.pricing-row-content > ul > li {
    font-size: 15px;
    margin-bottom: 0;
    padding: 0px 0 21px 40px;
    line-height: 17px;
}
.pricing-row-payment h3 {
    font-size: 22px;
    line-height: 1.1em;
    margin: 10px 0;
    padding:10px;
}
.pricing-row-payment p {
    font-size: 13px !important;
}
.most-popular {
    font-size: 12px;
    padding: 0px 19px 0px;
}
.pricing-row-top-content img {
    width: 80px;
    margin: -10px 0;
}
.pricing-row-content > ul > li {
    font-size: 13px !important;
    margin-bottom: 0;
    padding: 0px 0 15px 30px;
    line-height: 17px;
    background-size: 20px;
}
.pricing-row-payment span {
    font-size: 16px;
}
.faq-outer {
    padding-top: 30px;
}
.faq-inner {
    padding: 30px 15px;
    text-align: center;
}
.faq-inner h4 {
    font-size: 20px;
}
.faq-inner p {
    font-size: 15px !important;
}
.instant-access-outer.money-back.payment-second-outer {
    margin: 0;
}
.payment-second-outer .instant-access-ryt h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 1.1em;
    padding:10px;
}
.footer-outer {
    padding-top: 420px;
}
.footer-menu li {
    font-size: 12px;
    width: 100%;
    font-size: 13px !important;
    margin: 0 0 8px;
}
.vimo-videos li {
    width: 270px;
}
.hire-team {
    width: 100%;
    max-width: 350px;
}

	
}



@media screen and (max-width:479px) 
{
}
