body
{
	margin:0;
	padding:0;
	
    font-family: 'Manrope', sans-serif;
}
* 
{
    box-sizing: border-box;
}
header, section, footer
{
	width:100%;
	float:left;
}
  
ul
{
	margin:0;
	padding:0;
	list-style:none;
}


img 
{
	max-width:100%;
}
input,textarea {
    outline: none;
}

.auto-container
{
	max-width:1260px;
	margin:auto;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Montserrat', sans-serif;
}
.heading43 {
    font-weight: 800;
    font-size: 43px;
    line-height: 135%;
    color: #323232;
    margin: 0;
}
.heading-yellow {
    color: #F8B200;
}
.heading-voilet {
	color: #5133CD;
}
.heading-gray {
	color: #323232;
}
p, li{
    font-weight: 500;
    font-size: 20px;
    line-height: 181%;
    color: #000;
    
}
/*home page css start*/

header {
    padding: 40px 0 0;
    position: absolute;
    z-index: 1;
}
.nav-outer {
    width: auto;
    float: right;
    margin: 9px 0 0 0;
}
.logo-outer {
    width: auto;
    display: inline-block;
}
.nav-outer li {
    display: inline-block;
    margin: 10px 0 0px;
}
.nav-outer li a {
    list-style: none;
    color: #fff;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 0 0px 60px;
}
.nav-outer li:last-child {
    margin: 0;
}
.Request-btn {
    /* background: linear-gradient(to right, rgba(118,84,255,1) 0%, rgba(98,61,247,1) 100%); */
    transition-duration: 0.50s;
    border-radius: 100px;
    display: inline-block;
    /* background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) , radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) , #653FFF; */
    padding: 5px 32px 5px 6px;
    letter-spacing: 1.5px;
    background: linear-gradient(94.37deg, #653FFF 0.47%, #883FFF 90.73%);
    box-shadow: 4px 4px 61px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
}


.Request-btn span {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    margin: 0 10px 0 0;
    padding: 12px 9px 0;
    text-align: center;
   position: relative;
    vertical-align: middle;
}
.Request-btn span::before{
    /* content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: rgba(255,255,255,0.21);
    mix-blend-mode: overlay;
    opacity: 1; */
}
.Request-btn:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 29, 57, 1);
}

.header ul {
  overflow: hidden;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    top: -30px;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 992px) {
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.banner-outer {
    background:#626262;
    background: url(../images/banner-img.png) no-repeat center;
    background-size:100% 100%;
}
.banner-inner {
    width: 100%;
    display: inline-block;
    padding: 135px 0 15px 0;
    text-align: center;
    position:relative;
}
.banner-inner::before
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 135px;
    width: 192px;
    background-size: contain;
}
.banner-inner h1 {
    font-size: 55px;
    font-weight: 800;
    line-height: 1.3em;
    color: #fff;
    margin: 0;
    letter-spacing: -0.03em;
}
.banner-inner p {
    font-size: 29px;
    font-weight: 600;
    color: #FFC70A;
    margin: 10px 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.21em;
}
.banner-inner p span {
    margin: 0 15px -20px 0;
    display: inline-block;
    top: 3px;
    position: relative;
}
.banner-inner li {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    margin: 0 20px 10px;
    letter-spacing: 0.05em;
}
.banner-inner li span {
    margin: 0 10px 0 0;
    position: relative;
    top: 4px;
}
.banner-video-con {
    width: 100%;
    text-align: center;
    margin: auto;
    max-width: 1150px;
}

.banner-video-inner {
    position: relative;
    padding-top: 56%;
    border-radius: 20px;
    box-shadow: 16px 15px 48px rgb(38 38 38 / 9%);
    overflow: hidden;
    margin-bottom: -5px;
}
.banner-video-inner iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 99.9%;
    width: 99.9%;
}
.banner-video-inner img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
    width: 100%;
    /* border-radius: 20px; */
}


/*section02 css start*/
.section02-con {
    padding: 10px 0 0;
}   
.instant-access-outer {
    display: flex;
    flex-wrap: wrap;
    background: #F5F5F5;
    border-radius: 20px;
    padding: 0px 73px 61px 20px;
    width: 100%;
    background: rgba(255,253,248,1);
    background: -moz-linear-gradient(left, rgba(255,253,248,1) 0%, rgba(241,236,247,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,253,248,1)), color-stop(100%, rgba(241,236,247,1)));
    background: -webkit-linear-gradient(left, rgba(255,253,248,1) 0%, rgba(241,236,247,1) 100%);
    background: -o-linear-gradient(left, rgba(255,253,248,1) 0%, rgba(241,236,247,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,253,248,1) 0%, rgba(241,236,247,1) 100%);
    background: linear-gradient(to right, rgba(255,253,248,1) 0%, rgba(241,236,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf8', endColorstr='#f1ecf7', GradientType=1 );
    border: 1px solid #FEF3D1;
    margin: 50px 0 70px;
}
.buy-now-btn {
    padding: 7px 29px 6px 11px;
    transition-duration: 0.50s;
    border-radius: 100px;
    display: inline-block;
    font-size: 31px;
    color: #fff;
    text-decoration: none;
    margin: 18px 0 10px 0;
    font-weight: 600;
    /* background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) , radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) , #653FFF;
    box-shadow: 4px 4px 61px rgba(0, 0, 0, 0.14); */
    background: linear-gradient(94.37deg, #653FFF 0.47%, #883FFF 90.73%);
box-shadow: 4px 4px 61px rgba(0, 0, 0, 0.14);
border-radius: 10px;
}
.buy-now-btn-yellow
{
    background: radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFAE00;

}

.buy-now-btn span {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    margin: 0 10px 0 0;
    text-align: center;
   position: relative;
    vertical-align: middle;
}
.buy-now-btn span::before{
    /* content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: rgba(255,255,255,0.21);
    mix-blend-mode: overlay;
    opacity: 1; */
}
.instant-access-lft {
    width: 60%;
    display: inline-block;
}
.instant-access-ryt {
    width: 40%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 92px 0 0 0;
}
.instant-access-ryt h2 {
    color: #323232;
    font-size: 31px;
    font-weight: 700;
    margin: 0;
}
.instant-access-ryt h3 {
    color: #F8B200;
    font-size: 67px;
    font-weight: 800;
    margin: 0;
}
.instant-access-ryt p {
    color: #5F5F5F;
    font-size: 13px;
    font-weight: 500;
    margin: 2px 0 22px;
}
.pay-card-outer {
    padding: 12px 20px 22px;
    border-radius: 20px;
}
.pay-card-outer h4 {
    font-size: 13px;
    color: #323232;
    font-weight: 500;
    margin: 0 0 20px;
}
.pay-card-outer h4 span {
    margin: 0 10px 0 0;
    position: relative;
    top: 9px;
}
.pay-card-outer li {
	display: inline-block;
	width: 70px;
	margin: 0 5px 0;
}
.steps-outer {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.steps-outer h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 143%;
    color: #323232;
    margin: 20px 0 10px;
}
.steps-outer h2 strong
{
	color:#F8B200;
	font-weight: 800;
}
.steps-outer p {
    font-size: 22px;
    font-weight: 600;
    color: #5F5F5F;
    line-height: 188%;
    margin: 0;
}
.steps-inner {
    background: #fff8e7;
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    margin: 50px 0 133px;
}
.steps-inner li span {
    width: 125px;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.steps-inner li {
    background: #fff;
    width: 31.33%;
    display: inline-block;
    border-radius: 30px;
    padding: 30px 44px;
    margin: 0 10px;
    position: relative;
}
.steps-inner li::before {
    content: "";
    position: absolute;
    left: 160px;
    top: 60px;
    width: 442.32px;
    height: 55.72px;
    background: url(../images/step-line1.png) no-repeat center;
    background-size: contain;
    z-index: 1;
}
.steps-inner li::after {
    content: "";
    position: absolute;
    right: -22px;
    top: 102px;
    width: 18px;
    height: 18px;
    background: url(../images/step-line-arrow.png) no-repeat center;
    background-size: contain;
    z-index: 1;
}
.steps-inner li:nth-child(2)::before {
    background-image: url(../images/step-line2.png);
}
.steps-inner li:nth-child(2)::after {
    top: 56px;
}
.steps-inner li:last-child::before,
.steps-inner li:last-child::after{
    display: none;
}
.steps-inner li h2 {
    color: #323232;
    font-size: 23px;
    font-weight: 700;
    margin: 13px 0 0;
    line-height: 132%;
    font-family: 'Manrope', sans-serif;
}
.steps-inner li p {
    color: #323232;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0 0;
    line-height: 188%;
    opacity: 0.7;
}
.steps-inner li h3 {
    font-size: 50px;
    font-weight: 800;
    line-height: 90px;
    margin: 20px 0;
	opacity: 0.5;
}
.marketer-outer {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 0 67px;
}
.marketer-outer h2 {
    color: #F8B200;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    margin: 0;
}
.marketer-outer h3 {
    color: #323232;
    font-weight: 800;
    font-size: 45px;
    line-height: 112%;
    margin: 15px 0 88px;
}
.marketer-left {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.marketer-left img {
    max-width: unset;
    float: right;
}
.marketer-ryt {
    width: 49%;
    display: inline-block;
    text-align: left;
    padding: 0 0 0 20px;
}
.marketer-ryt li img {
    width: 56px;
    display: inline-block;
    vertical-align: top;
    margin: 0 14px 0 0;
}
.marketer-ryt li span {
    display: inline-block;
    width: 85%;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
    font-weight: 500;
}
.marketer-ryt li {
    width: 100%;
    display: inline-block;
    margin: 0 0 30px;
}

/*section02 css end*/





/*succeed outer css start*/
.succeed-outer {
    background: url(../images/succeed-bg.png) no-repeat center;
    background-size: cover;
    border-radius: 0px 260px;
    padding: 124px 0 150px;
    text-align: center;
}

.succeed-inner {
    display: inline-block;
    width: 100%;
}
.succeed-inner h2 {
    font-weight: 700;
    font-size: 26px;
    color: #5133CD;
    text-transform: uppercase;
}
.succeed-inner h3 {
    font-weight: 800;
    font-size: 45px;
    line-height: 112%;
    color: #000;
    margin: 15px 0 40px;
}
.succeed-left img {
    max-width: unset;
    float: right;
}
.succeed-left {
    width: 50%;
    display: inline-block;
}
.succeed-ryt {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 50px 0 0 40px;
}

.succeed-ryt p
{
	font-weight: 500;
	font-size: 20px;
	line-height: 159%;
	color: #000;
}
.succeed-ryt p strong {
    font-weight: 700;
}

/*succeed outer css end*/



/*facts outer css start*/

.facts-outer {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.facts-outer h2 {
    font-weight: 800;
    font-size: 274px;
    line-height: 138%;
    background: linear-gradient(170.29deg, #E0E0E0 6.5%, rgba(238, 212, 144, 0.479167) 53.74%, rgba(211, 205, 187, 0) 97.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.6;
    margin: 0;
    line-height: 280px;
}
.facts-outer h3 {
    font-weight: 800;
    font-size: 45px;
    line-height: 112%;
    color: #323232;
    margin: 0;
}
.facts-outer h3 strong
{
	font-weight: 800;
	color: #F8B200;
}
.facts-outer h4 {
    font-weight: 400;
    font-size: 35px;
    color: #323232;
    margin: 15px 0;
}
.facts-outer p {
    font-weight: 500;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
    margin: 20px 0 69px;
}
.facts-left-list {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.facts-left-list li span {
    font-weight: 700;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
    text-align: left;
    margin: 0 0 31px;
    width: 90%;
    float: left;
}
.facts-left-list li img {
    float: left;
    margin: 1px 11px 0 0;
}

/*facts outer css end*/









/*service type css start*/
.service-type-inner {
    background: #f6f5fc;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
}
.service-type-inner h2 {
    background: #5133CD;
    text-align: center;
    font-weight: 800;
    font-size: 43px;
    color: #fff;
    margin: 0;
    border-radius: 30px 30px 0 0;
    padding: 40px 0px;
}
.decription-outer {
    width: 100%;
    display: inline-block;
    padding: 46px 55px 0;
}
.service-inner-left {
    width: 54%;
    display: inline-block;
    padding: 0 50px 0 0;
}

.service-inner-ryt {
    width: 44%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.service-inner-left p {
    margin-top: 0px;
}
.service-inner-ryt img {
    border-radius: 30px;
}
.listing-services {
    width: 100%;
    display: inline-block;
    padding: 0 50px 50px 60px;
}
.listing-services h3 {
    text-align: left;
    font-weight: 700;
    font-size: 31px;
    color: #5133CD;
    text-transform: uppercase;
    margin: 40px 0 37px;
    
}
.service-type-outer {
    padding: 88px 0 80px;
}
.listing-services li {
    font-weight: 700;
    font-size: 20px;
    color: #323232;
    opacity: 0.8;
    width: 100%;
    float: left;
    margin: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.listing-services ul {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.listing-services li img {
    width: 42px;
    float: left;
    margin: 0px 10px 0 0;
    align-self: flex-start;
}
.listing-services li span {
    width: calc(100% - 53px);
    float: left;
    align-self: center;
}

.your-help-outer h2 {
    font-weight: 800;
    font-size: 45px;
    line-height: 112%;
    color: #323232;
    margin: 129px 0 70px;
    text-align: center;
}
.your-help-outer h2 strong {
    font-weight: 800;
    color: #F8B200;
}
.your-help-left {
    width: 50%;
    display: inline-block;
    padding: 0 20px 0 70px;
}
.your-help-ryt {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.your-help-left p {
    font-weight: 500;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
}
.saw-success-outer {
    padding: 54px 0 0;
}
.saw-success-outer h2 {
    text-align: center;
    font-weight: 800;
    font-size: 63px;
    color: #5133CD;
    margin: 20px 0 20px;
}
.saw-success-outer p {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
    margin: 0;
}
.saw-success-content-img {
    background: url(../images/saw-success-content-bg.png) no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    display: inline-block;
}
.saw-success-outer h3 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #323232;
    opacity: 0.8;
    font-family: 'Manrope', sans-serif;
    margin: 34px 0 0;
}

.saw-listing {
    padding: 30px 5px 30px;
    border-radius: 30px;
    margin: 40px 0 0;
    background: #fbc600;
    box-shadow: 0px 10px 54px rgba(38, 45, 118, 0.06);
    border-radius: 20px;
}
.saw-listing img
{
	width:100%;
}
section.still-outer {
    padding: 100px 0 50px;  
}
.still-inner {
    width: 100%;
    display: inline-block;
}
.still-left {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    padding: 50px 0 0;
}
.still-ryt {
    width: 44%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.still-left h2 {
    font-weight: 800;
    font-size: 43px;
    line-height: 135%;
    color: #323232;
    margin: 40px 0 37px;
}
.still-left h2 strong {
    font-weight: 800;
    color: #F8B200;
}
.still-left p {
    font-weight: 500;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
    margin: 0 0 30px;
    padding-right: 20%;
}    
.still-left p strong {
    font-size: 25px;
    font-weight: 900;
}       
.still-con {
    padding: 56px 39px;
    margin: 50px 0 0 0;
    background: linear-gradient(273.04deg, rgba(200, 187, 255, 0.32) -9.35%, rgba(255, 199, 10, 0.01) 106.71%);
    backdrop-filter: blur(6px);
    border-radius: 30px;
    
}
.listing-services.still-con  p {
    text-align: center;
    margin: 0 0 40px;
    font-size: 200%;
}
.still-con li {
    font-weight: 500;
    padding-bottom: 3px;
}
.listing-services.still-con li img {
    width: auto;
}
.listing-services.still-con li span {
    width: calc(100% - 94px);
    margin-left: auto;
}
.still-con li strong 
{
	font-weight:600;
}
.intrested-outer {
    padding: 70px 0;
    text-align: center;
    border-radius: 30px;
    margin: 6px 0 0;
}
.intrested-outer-content {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}
.intrested-outer-content-left {
    width: 60%;
}
.intrested-outer-content-right {
    margin-left: auto;
    max-width: 40%;
}
.intrested-outer h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 135%;
    color: #323232;
    margin: 0;
}
.intrested-outer h3 {
    font-weight: 800;
    font-size: 67px;
    color: #F8B200;
    margin: 25px 0 40px;
}
.intrested-outer p {
    font-weight: 500;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
    margin: 0 0 31px;
}
.intrested-outer p strong
{
	font-weight:600;
}

/*service type css end*/







/*local-lead-outer-css-start*/

.local-lead-outer {
    background: url(../images/local-lead-bg.png) no-repeat center;
    background-size: cover;
    border-radius: 0px 260px;
    padding:100px 0 0 0;
}
.local-lead-inner {
    width: 100%;
    display: inline-block;
}
.local-lead-left {
    width: 50%;
    display: inline-block;
    text-align: right;
}
.local-lead-ryt {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 22px 0 0;
}
.local-lead-ryt h2 {
    font-weight: 800;
    font-size: 43px;
    line-height: 143%;
    color: #fff;
    margin: 0;
}
.local-lead-ryt h3 {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    color: #FFC70A;
    margin: 20px 0;
}
.local-lead-ryt img {
    max-width: 100%;
    mix-blend-mode: overlay;
}
.client-outer {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 50px 0 0;
}
.client-outer h2 {
    font-weight: 800;
    font-size: 43px;
    line-height: 143%;
    color: #fff;
}
.client-outer h2 strong
{
	color:#FFC600;
	font-weight: 800;
}
.client-outer li {
    background: #FFF;
    border-radius: 20px;
    width: 363px;
    padding: 25px 20px 30px;
    position: relative;
    display: inline-block;
    margin: 0 9px;
    vertical-align: top;
}
.client-outer li h3 {
    font-weight: 700;
    font-size: 58px;
    line-height: 110%;
    margin: 0;
    text-transform: uppercase;
}

.client-outer li p {
    font-weight: 600;
    font-size: 18px;
    line-height: 171%;
    color: #323232;
    margin: 0px 0 30px;
    min-height: 90px;
}
.client-outer li span img {
    border-radius: 20px;
    display: inline-block;
    z-index: 99;
    position: relative;
}
.client-outer li:first-child span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 165px;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background: #F8B200;
    opacity: 0.3;
}
.client-outer li:nth-child(2n) span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 165px;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background: #5133CD;
    opacity: 0.3;
}
.client-outer li:nth-child(3n) span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 165px;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background: #807D76;
    opacity: 0.3;
}

.watch-video iframe {
    border-radius: 20px;
}
.watch-video {
    width: 100%;
    display: flex;
    text-align: center;
    margin:99px 0 -130px;
    flex-wrap: wrap;
    flex-direction: column;
}
.watch-video h2 {
    font-weight: 800;
    font-size: 43px;
    color: #fff;
}
/*local-lead-outer-css-end*/


/*business-benifits css start*/
.business-benifits-outer {
    padding: 296px 0 163px 0;
}

.business-benifits {
    text-align: center;
    background: linear-gradient(101.18deg, rgb(244 169 30 / 10%) 0.08%, rgb(255 198 0 / 10%) 100.06%);
    border-radius: 30px;
    padding: 60px 30px 60px;
}

.business-benifits h3 {
    padding-bottom: 30px;
}
.business-benifits-listing {
    display: flex;
    flex-wrap: wrap;
}

.business-benifits-single {
    width: 33.33%;
    padding: 14px;
}
.business-benifits-inner {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 78.12%);
    box-shadow: 0px 10px 54px rgba(38, 45, 118, 0.06);
    border-radius: 20px;
    padding: 45px 36px 45px;
    height: 100%;
}
.business-benifits-inner h4 {
    font-size: 21px;
    line-height: 132%;
    text-align: center;
    color: #323232;
    margin: 17px 0 5px;
}
.business-benifits-inner p {
    font-size: 16px;
    margin: 0px 0 0px;
}

/*business-benifits css end*/
/*one-time-access css start*/
.one-time-access-outer {
    background: url(../images/instant-access-bg.png) no-repeat center;
    background-size: cover;
    padding: 73px 62px 88px 52px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
.one-time-access-left
{
    width: 60%;
}
.one-time-access-outer .instant-access-ryt {
    padding-top: 0;
}
.one-time-access-outer  .pay-card-outer {
    background: transparent;
    border: 1px solid #fff;
}
.one-time-access-outer  .instant-access-ryt p {
    color: #ffffff;
}
.one-time-access-outer  .pay-card-outer h4 img {
    filter: invert(00) brightness(100);
}
/*one-time-access css end*/

/*finding-tools css start*/
.finding-tools-outer {
    padding: 145px 0 0 0;
}
.finding-tools-outer .heading43 {
    text-align: center;
    padding-bottom: 70px;
}
.finding-tools-inner {
    display: flex;
    flex-wrap: wrap;
}
.finding-tools-img {
	order: 2;
	width: 50%;
}
.finding-tools-content {
    width: 50%;
    padding-right: 30px;
    padding-top: 70px;
}
.finding-tools-listing {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 62px;
}
.finding-tools-listing-text {
	margin-left: auto;
	width: 500px;
}
.finding-tools-listing-text h4 {
	margin: 0;
	font-size: 21px;
	line-height: 132%;
	color: #323232;
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
}
.finding-tools-listing-text p {
	font-size: 16px;
	line-height: 188%;
	margin: 7px 0 0;
}
/*finding-tools css end*/


/*everything-business css start*/
.everything-business {
    padding-top: 90px;
}
.everything-business .heading43 {
	text-align: center;
}
.everything-business h4 {
    font-weight: 400;
    font-size: 35px;
    line-height: 112%;
    text-align: center;
    color: #323232;
    margin: 20px 0 60px;
}
.everything-tools-inner {
	display: flex;
	flex-wrap: wrap;
}
.everything-tools-inner .finding-tools-img {
	order: unset;
}
.everything-tools-right {
    width: 50%;
    padding-left: 80px;
    padding-top: 57px;
}
.everything-tools-right p {
	margin: 0;
}
.everything-tools-right ul {
    padding: 16px 0 0;
}
.everything-tools-right li {
    font-weight: 700;
    background: url(../images/listing-icon.svg) no-repeat left top 6px;
    margin-top: 23px;
    padding-left: 35px;
}
    

/*everything-business css end*/

/*categories css start*/
.categories-outer {
	/* background: linear-gradient(206.37deg, #FAFBFD 5.09%, #E4EAF2 58.03%, #E4EAF2 83.5%); */
    /* background: url(../images/categories-bg.png) repeat-y center top;
    background-size: contain; */
    background: #F4F6FA;
	padding: 116px 0 90px;

}

.categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -21px;
}
.categories-single {
	width: 50%;
	padding: 21px;
}

.categories-inner {
    /* background: linear-gradient(156.11deg, rgba(255, 255, 255, 0.9) 3.38%, rgba(255, 255, 255, 0.4) 76.32%); */
    backdrop-filter: blur(6px);
    border-radius: 30px;
    background: #FFFFFF;
    position: relative;
    z-index: 2;
    padding: 56px 34px 59px;
    text-align: center;
}
.categories-inner h3 {
    font-size: 36px;
    line-height: 123%;
    text-align: center;
    color: #323232;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}
.categories-inner p {
    font-weight: 500;
    font-size: 23px;
    line-height: 159%;
    text-align: center;
    color: #323232;
    opacity: 0.8;
    padding: 0 6%;
    min-height: 102px;
    margin: 23px 0 0px;
}
.categories-inner img {
    width: 100%;
}
.categories-inner::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 276px;
	bottom: 0;
	left: 0;
	border-radius: 20px;
	background: #FFEEC4;
    z-index: -1;
}
.categories-single.categories-single:nth-child(2n) .categories-inner::before {
    background: #C4B6FF;
}
/*categories css end*/
/*cat-features css start*/
.cat-features-outer {
    background: url(../images/cat-features-bg.png) no-repeat center;
    background-size: cover;
    border-radius: 0 260px;
    margin: 108px 0 123px;
    position: relative;
    padding: 137px 0 120px;
}
/* .cat-features-outer::before, */
    .cat-features-outer::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -50px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 66px solid #E5EBF3;
}
.cat-features-outer::after {
	top: 100%;
	border-top-color: #FFC70A;
}
.cat-features-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.cat-features-single {
	width: 33.33%;
	padding: 15px;
}
.cat-features-iner {
	height: 100%;
	padding: 30px 14px 29px 30px;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 78.12%);
	box-shadow: 0px 10px 54px rgba(38, 45, 118, 0.06);
	border-radius: 20px;
}
.cat-features-top {
	display: flex;
	flex-wrap: wrap;
}
.cat-features-top h4 {
	margin: 0;
	font-weight: 700;
	font-size: 21px;
	line-height: 132%;
	color: #807D76;
	padding: 0 0 0 20px;
        font-family: 'Manrope', sans-serif;
	max-width: 82%;
	width: 100%;
}
.cat-features-bottom {
	font-weight: 500;
	font-size: 16px;
	line-height: 188%;
	color: #807D76;
	padding: 13px 0 0;
}
/*cat-features css end*/

/*money-back css start*/
.instant-access-outer.money-back {
	background: url(../images/money-back-bg.png) no-repeat center;
	background-size: cover;
	padding-top: 70px;
}
.money-back .instant-access-ryt p{
    color: #fff;
}
.money-back .instant-access-ryt {
	padding: 00px 0 0 0;
}
/*money-back css end*/


.platform-inner {
    text-align: center;
    margin: 110px 0 100px;
}
.platform-inner h2 {
    font-weight: 700;
    font-size: 31px;
    line-height: 137%;
    color: #323232;
    margin: 0;
}

.platform-inner h3 {
    font-weight: 800;
    font-size: 43px;
    line-height: 137%;
    color: #F8B200;
    margin: 20px 0 10px;
}
.platform-text p {
    text-align: left;
}
.your-help-left.platform-text {
    padding: 36px 5% 0 0;
}
.real-time-inner {
    background: #fff8e7;
    padding: 80px 43px;
    border-radius: 30px;
	text-align:center;
}
.real-time-inner h2 {
    font-weight: 800;
    font-size: 45px;
    line-height: 137%;
    margin: 0;
    color: #323232;
}
.real-time-inner h2 strong
{
	color:#F8B200;
	font-weight: 800;
}
.real-time-inner h3 {
    font-weight: 400;
    font-size: 29px;
    line-height: 137%;
    text-align: center;
    color: #323232;
    margin: 18px 0 0px;
}
.real-time-inner .your-help-left.platform-text {
    padding: 39px 1% 0 10px;
}
.real-time-inner .your-help-ryt {
    padding: 30px 0 0;
}
.first-market-flex {
    display: flex;
    text-align: left;
    padding-top: 50px;
}
.first-market-left {
    width: 50%;
}
.first-market-right {
    width: 50%;
}
/*converting css start*/
.converting-outer-bg {
    padding: 105px 0 40px;
    margin: 0 0 63px;
    background: url(../images/converting-outer-bg.png) no-repeat center;
    background-size: contain;
}
.converting-outer {
    padding: 80px 0 0;
}
.converting-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.converting-inner-left {
    width: 56%;
    display: inline-block;
	vertical-align:top;
}
.converting-inner-ryt {
    width: 43%;
    display: flex;
    justify-content: center;
}
.converting-inner-ryt.converting-inner-ryt1 img {
    max-width: unset;
}
.converting-inner-ryt img{
    max-width: inherit;
}
.converting-inner-left h2 {
    font-weight: 800;
    font-size: 43px;
    line-height: 137%;
    color: #323232;
}
.converting-inner-left h2 strong
{
	color:#F8B200;
	font-weight: 800;
}
.converting-inner-left p {
    font-weight: 500;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
    padding: 0 150px 0 0;
}

/*converting css end*/




/*ai-service-outer css start*/
.rejection-outer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    background: #eeebfa;
    padding: 56px 40px 90px;
}
.rejection-outer h2 {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 43px;
    color: #323232;
}
.rejection-outer h2 strong
{
	font-weight: 800;
    color: #5133CD;
}
.rejection-left {
    width: 50%;
}
.rejection-ryt {
    width: 50%;
    padding: 0 0 0 40px;
}
.rejection-ryt p {
    font-weight: 500;
    font-size: 20px;
    line-height: 159%;
    color: #323232;
    opacity: 0.8;
}
.first-market-outer {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 90px 0 50px;
}
.first-market-outer h3 {
    color: #5133CD;
    font-weight: 700;
    font-size: 23px;
    background: #f6f1ff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 6px;
    border: 1px dashed #c7b1f5;
}

.research-outer {
    background: url(../images/reserch.png) no-repeat;
    padding: 74px 35% 90px 112px;
    background-size: cover;
	border-radius:20px;
}
.research-outer h2 {
    color: #fff;
    font-size: 36px;
}
.research-outer p {
    color: #fff;
    padding: 0 110px 0 0;
}
.revenue-outer {
    width: 100%;
    display: inline-block;
    padding: 110px 0 0;
    text-align: center;
}
/*ai-service-outer css end*/





/*figure-bussiness css start*/
.figure-bussiness {
    background: url(../images/figure-bg.png) no-repeat;
    background-size: cover;
    padding: 140px 0 230px;
    border-radius: 230px 0px 230px 0;
}
.figure-bussiness-inner {
    text-align: center;
	display: flex;
    flex-wrap: wrap;
}
.figure-bussiness-inner h2 {
    width: 100%;
    color: #fff;
    margin: 0 0 80px;
}
.figure-bussiness-inner p {
    color: #fff;
	opacity: 0.8;
}
.figure-bussiness-left {
    width: 50%;
    text-align: left;
}
.figure-bussiness-ryt {
    width: 50%;
}
.figure-bussiness-ryt img {
    max-width: 720px;
    position: relative;
    left: -130px;
}
.upgrade-inner {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 120px 50px 109px;
    background: url(../images/rocket-bg.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin: -90px 0 0 0;
    border-radius: 40px 40px 0 0;
}
.upgrade-inner-left {
    width: 70%;
    padding: 90px 0 0;
}
.upgrade-inner-ryt {
    width: 30%;
}
.upgrade-inner-left h2 {
    font-weight: 800;
    font-size: 54px;
    color: #FFC600;
    background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%) , radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%) , #653FFF;
    padding: 15px 60px;
    display: inline-block;
    border-radius: 60px;
	margin:0;
}
.upgrade-inner-left h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 143%;
    color: #fff;
}
.upgrade-para {
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.pricing-outer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.pricing-inner {
    width: 360px;
    border-radius: 20px;
    background: #fff;
    padding: 40px 30px;
    margin: 0 10px 20px;
}
.blue-shade-bg-con {
    background: -webkit-linear-gradient(top, rgba(254,254,255,1) 0%, rgba(239,237,246,1) 51%, rgba(229,226,241,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,255,1) 0%, rgba(239,237,246,1) 51%, rgba(229,226,241,1) 100%);
    padding: 0 60px 65px;
    border-radius: 0 0 30px 30px;
}
.pricing-inner h3 {
    font-weight: 700;
    font-size: 32px;
    margin: -15px 0 0px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.pricing-inner h2
{
    font-weight: 500;
    font-size: 20px;
    line-height: 181%;
    color: rgba(50, 50, 50, 0.80);
}
.pricing-inner p {
    min-height: 180px;
}
.gift-today-outer {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: -webkit-linear-gradient(left, rgba(83,83,83,1) 0%, rgba(1,1,1,1) 100%);
    background: -o-linear-gradient(left, rgba(83,83,83,1) 0%, rgba(1,1,1,1) 100%);
    padding: 50px 50px;
    border-radius: 30px;
    margin: 100px 0 -20px;
    z-index: 9;
    position: relative;
}
.gift-today-outer h2 {
    color: #fff;
	font-weight: 800;
font-size: 38px;
line-height: 143%;
}

.books-retail-outer {
    background: #fff9e6;
    padding: 120px 85px 75px;
    width: 100%;
    display: inline-block;
}
.books-retail-inner {
    display: flex;
	flex-wrap: wrap;
}
.reseller-con {
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 48px 20px;
    margin: 0;
    text-align: center;
}
.money-back-con .converting-inner-left p {
    opacity: 0.8;
}
.money-back-con {
    margin: 80px 0;
}

/*figure-bussiness css end*/




/*testmonial outer css start*/

.testmonial-outer {

    background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
    padding: 40px 0 150px;
    text-align: center;
}
.testmonial-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 110px 0 0;
}
.testmonial-text {
    width: 30%;
    background: #fff;
    padding: 40px 33px;
    border-radius: 20px;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    margin: 0 21px;
    position: relative;
}
.testmonial-text span {
    background: linear-gradient(101.18deg, #F4A91E 0.08%, #FFC600 100.06%);
    border-radius: 15px;
    width: 80px;
    height: 80px;
    padding: 22px 0 0;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.testmonial-text h3 {
    font-weight: 700;
    font-size: 21px;
    color: #323232;
    font-family: 'Manrope';
    margin: 15px 0 5px;
}
.testmonial-text h4 {
    font-weight: 500;
font-size: 17px;
line-height: 159%;
color: #807D76;
    font-family: 'Manrope';
	margin:0;
}
.testmonial-text p
{
	font-size:19px;
}

.testmonial-text .client-img {
    border-radius: 50px;
    border: 1px solid #5133cd;
    padding: 3px;
}

/*testmonial outer css end*/




/*two-choice-outer css start*/
.two-choice-outer {
    background: #ffc70a;
    background: url(../images/two-choice-bg.png) no-repeat center;
    background-size: cover;
    border-radius: 0 260px 0 260px;
    padding: 100px 0;
}
.two-choice-inner {
    text-align: center;
	display: flex;
    flex-wrap: wrap;
}
.two-choice-inner h2 {
    font-weight: 700;
    font-size: 46px;
    color: #5133CD;
    width: 100%;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.two-choice-left {
    width: 50%;
}
.two-choice-ryt {
    width: 50%;
    text-align: left;
    padding: 30px 0 0;
}
.two-choice-inner h3 {
    margin: 0 0 10px;
}

/*two-choice-outer css end*/


/*listing css start*/

.going-pay-outer {
    padding: 133px 0 0;
}
.graphic-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.hire-team {
    background: #ff5858;
    border-radius: 33px;
    padding: 78px 42px;
    margin: 0 15px;
    width: 600px;
    text-align: center;
	position:relative;
}
.hire-team-02
{
	background: #0db46e;
}

.hire-team span {
    position: absolute;
    top: -1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    content: "";
    background: #fff;
    background-size: cover;
    display: inline-block;
    width: 282px;
    font-weight: 800;
    font-size: 21px;
    text-transform: uppercase;
    color: #ff5858;
    height: 42px;
    padding: 7px 0 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
    clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
}
.green-text
{
	color:#0DB46E !important;
}
.hire-team h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 139%;
    color: #FFFFFF;
}
.hire-team li {
    font-weight: 500;
    font-size: 23px;
    line-height: 309%;
    color: #FFFFFF;
    text-align: left;
    background: url(../images/yellow-arrow.png) no-repeat 30px;
    padding: 0 0 0 100px;
}
.hire-team h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 50px 0 10px;
}
.hire-team h4 {
    font-weight: 800;
    font-size: 43px;
    color: #fff;
    margin: 0;
}



/*listing css end*/





/*Act fast css start*/
.act-fast-outer
{
    background: url(../images/act-fast-bg.png) no-repeat center;
    background-size: cover;
    padding: 90px 0 170px;
    border-radius: 0 250px;
    position: relative;
    z-index: 1;
}
.act-fast-inner
{
    text-align: center;
}
.act-fast-inner h2 {
	font-weight: 900;
	font-size: 148px;
	line-height: 138%;
	text-align: center;
	text-transform: uppercase;
	color: #FFC70A;
	margin: 0;
}
.act-fast-inner .heading43 {
    color: #fff;
    padding: 0 4% 39px;
}
.act-fast-content {
	max-width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.act-fast-left {
	width: 50%;
	text-align: right;
}
.act-fast-right {
	width: 50%;
	max-width: 650px;
	padding-left: 30px;
}
.act-fast-right p {
	color: #FFFFFF;
	opacity: .9;
}
.act-fast-bottom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.act-fast-bottom-price h3 {
	font-weight: 800;
	font-size: 47px;
	line-height: 143%;
	text-align: center;
	color: #F8B200;
	margin: 0;
}
.act-fast-bottom-price h5 {
	font-weight: 500;
	font-size: 13px;
	line-height: 156%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin: 0;
	font-family: 'Manrope', sans-serif;
}
.act-fast-bottom-price {
	padding: 0 25px 0 0;
}
.act-fast-bottom-payment .pay-card-outer {
	background: transparent;
}
.act-fast-bottom-payment .pay-card-outer h4 {
	color: #fff;
}
.act-fast-bottom-payment .pay-card-outer h4 img {
}
/*Act fast css end*/

/*pricing css start*/
.satisfied-customer-outer {
	background: linear-gradient(203.62deg, #FAFBFD 16.02%, #E4EAF2 32.06%, #FAFCFF 54.27%);
	padding: 480px 0 0;
	margin-top: -300px;
}
.satisfied-customer-top {
	text-align: center;
}
.satisfied-customer-top h3 {
	font-weight: 900;
	font-size: 48px;
	line-height: 138%;
	text-align: center;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #F8B200;
	margin: 0;
}
.satisfied-customer-top span {
    font-weight: 400;
    font-size: 31px;
    line-height: 25px;
    text-align: center;
    color: #807D76;
    display: inline-block;
    padding: 32px 0 70px;
}
.pricing-outer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pricing-row-outer {
	width: 590px;
	margin: 0 20px;
	margin-bottom: 50px;
}

.pricing-row-top {
	overflow: hidden;
	background: #323232;
	border-radius: 24px 24px 0px 0px;
	text-align: center;
	position: relative;
}
.pricing-row-top::before {
	content: "";
	background: url(../images/pricing-waves.png) no-repeat center;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	mix-blend-mode: luminosity;
	opacity: 0.4;
    background-size: cover;
}
.pricing-row-top::after
{
    background: url(../images/cloud-shape.png) no-repeat center bottom;
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
}

.pricing-row-top-content {
	position: relative;
	z-index: 1;
	padding: 45px 0 80px 0;
}
.pricing-row-top-content h3 {
	font-weight: 900;
	font-size: 61px;
	line-height: 123%;
	text-align: center;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: screen;
	opacity: 0.2;
	margin: 0;
}
.pricing-row-top-content img {
	margin: -50px 0 -50px;
	z-index: 1;
	position: relative;
}
.pricing-row-top-content h4 {
	font-weight: 900;
	font-size: 35px;
	line-height: 123%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	margin: 0;
}
.pricing-row-content {
    background: #FFFFFF;
    backdrop-filter: blur(6px);
    border-radius: 00px 00px 30px 30px;
    padding: 30px 40px 40px;
    margin-top:-2px;
}
.pricing-row-content > ul > li {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 159%;
    letter-spacing: 0.05em;
    color: #5F5F5F;
    margin-bottom: 27.4px;
    background: url(../images/tick-icon.svg) no-repeat left top 1px;
    padding: 0px 0 2px 41px;
    text-align: left;
}
.pricing-row-content >ul >li.cross-icon
{
    background-image: url(../images/cross-icon.svg);
}
.pricing-row-content > ul {
    padding: 0 20px 0 47px;
}
.pricing-row-payment {
	text-align: center;
	padding: 40px 0 0 0;
}
.pricing-row-payment span {
	font-weight: 500;
	font-size: 20px;
	line-height: 156%;
	letter-spacing: 0.05em;
	color: #5F5F5F;
}
.pricing-row-payment h3 {
	font-weight: 900;
	font-size: 37px;
	line-height: 143%;
	text-align: center;
	color: #F8B200;
	margin: 0;
	font-family: 'Manrope', sans-serif;
}
.pricing-row-payment p {
	font-weight: 500;
	font-size: 13px;
	line-height: 156%;
	letter-spacing: 0.05em;
	color: #5F5F5F;
	margin: 0;
}
.pricing-row-payment .pay-card-outer {
	padding: 0;
	border-radius: 0;
}
.pricing-row-payment .buy-now-btn
{
    border-radius: 10px;
} 
.pricing-row-payment .buy-now-btn span, .pricing-row-payment .buy-now-btn span::before {
	border-radius: 10px;
}
.pricing-row-blue
{
    background: #5133CD;
}
.pricing-row-blue.pricing-row-top::before {
	mix-blend-mode: lighten;
opacity: 0.6;
}
.most-popular {
	background: #FFC600;
	font-weight: 800;
	font-size: 21px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #5133CD;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 0;
	padding: 3px 30px 4px;
	clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);
}
/*pricing css end*/




/*Faq css start*/
.faq-outer {
	padding-top: 80px;
}
.faq-outer .heading43 {
	text-align: center;
	padding-bottom: 50px;
}
.faq-outer h2 {
	font-weight: 800;
	font-size: 34px;
	line-height: 138%;
	text-align: center;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #F8B200;
	margin: 0 0 12px;
}
.faq-inner {
	background: #FFFFFF;
	box-shadow: 0px 3px 14px rgba(74, 58, 255, 0.03), 0px -2px 4px rgba(20, 20, 43, 0.02), 0px 12px 24px rgba(20, 20, 43, 0.04);
	border-radius: 18px;
	padding: 52px;
	margin-bottom: 30px;
}
.faq-inner h4 {
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 123%;
	color: #5133CD;
	margin: 0 0 17px;
}
.faq-inner p {
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 159%;
	color: #323232;
	opacity: 0.7;
	margin: 0;
}


/*Faq css end*/

/*payment-in-second css start*/
.instant-access-outer.money-back.payment-second-outer {
	margin-top: 140px;
	background: url(../images/payment-second-bg.png) no-repeat center;
	background-size: cover;
	padding: 70px 50px 49px;
	text-align: center;
	border-radius: 30px;
	margin-bottom: 0;
	z-index: 1;
	position: relative;
	border: none;
}
.payment-second-outer .heading43 {
	color: #fff;
	width: 100%;
	padding-bottom: 50px;
}
.payment-second-outer .instant-access-ryt h3 {
	font-weight: 800;
	margin: 0;
	font-size: 55px;
	line-height: 143%;
	color: #fff;
}
.payment-second-outer .pay-card-outer h4 {
    font-size: 13px;
    color: #fff;
}
.payment-second-outer  .pay-card-outer h4 span img {
}
.payment-second-outer  .pay-card-outer {

}

/*payment-in-second css end*/


/*Footer part css start*/
.footer-outer {
	background: url(../images/footer.png) no-repeat left top;
	background-size: cover;
	padding-top: 521px;
	margin-top: -375px;
}
.footer-outer h5 {
	font-weight: 800;
	font-size: 30px;
	line-height: 110%;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin:0 0 50px;
}
.footer-box {
	display: flex;
	flex-wrap: wrap;
}

.footer-left, .footer-right {
	width: 50%;
}
.footer-box h6 {
	font-weight: 700;
	font-size: 22px;
	line-height: 133%;
	color: #FFC600;
	margin: 0 0 10px;
}
.footer-box p
{
    font-weight: 400;
    font-size: 15px;
    line-height: 188%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0;
}
.footer-left {
	padding-right: 10%;
	border-right: 1px solid rgba(217, 217, 217, 0.15);
}
.footer-right {
	padding-left: 10%;
}
.footer-text {
	padding: 60px 0 0;
}
.footer-text p {
	font-weight: 400;
	font-size: 13px;
	line-height: 188%;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.7;
}
.footer-text p span {
	color: #38B7FF;
}
.footer-menu-outer {
	display: flex;
	flex-wrap: wrap;
	padding: 70px 0 54px;
    align-items: center;

}
.footer-menu {
	margin-left: auto;
}
.footer-menu ul {
	display: flex;
	flex-wrap: wrap;
}
.footer-menu li {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin-left: 40px;
}
.footer-menu li a {
	color: unset;
	text-decoration: none;
}
.footer-copyright {
	padding: 35px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	border-top: 1px solid rgba(255,255,255,0.3);
}
.graphic-outer {
    padding-bottom: 183px;
}
/*Footer part css end*/

.vimo-videos {
    width: 100%;
    display: inline-block;
    margin: 0 0 80px 0;
		text-align:center;
		padding: 5px;
}
.vimo-videos li {
    width: 32%;
    display: inline-block;
    margin: 0 6px 5px;
}
.vimo-videos li iframe {
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 243px;
    box-shadow: 0px 0px 11px 0px #efefef;
		padding: 8px;
}


.cat-features-wrapper .heading-yellow, .cat-features-wrapper .heading-voilet, .cat-features-wrapper .heading-gray {
    text-decoration: none;
}
.order-now-btn a {
    transition-duration: 0.50s;
    border-radius: 100px;
    display: inline-block;
    padding: 14px 20px;
    letter-spacing: 1.5px;
    background: #fff;
    border-radius: 10px;
    color: #0DB46E;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 800;
    text-decoration: none;
    margin: 30px 0 0;
}
.cart-icon {
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    width: 30px;
}

.categories-wrapper .heading-voilet {
    /* text-decoration: line-through; */
}
.converting-inner.money-back-con .converting-inner-ryt img {
    max-width: 100%;
}
.converting-inner.money-back-con .converting-inner-ryt {
    display: block;
}

.steps-glance-inner {
    background: #fff8e7;
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    margin: 50px 0 20px;
    display: inline-block;
    vertical-align: top;
}
.steps-glance.steps-inner01 {
    width: 35%;
    float: left;
}.steps-glance.steps-inner01 .marketer-ryt {
    width: 100%;
    padding: 0;
}
.steps-glance.steps-inner01 .marketer-ryt li span {
    width: 80%;
}
.steps-glance.steps-inner02 {
    float: left;
    width: 30%;
}


