
 @media screen and (max-width:1400px) {section.leads-gorilla-pro h2 {
    font-size: 43px;
}.business-row {
    padding: 40px;
}
	 .categories-outer.additional-pro .inner-whole {
    min-height: 620px;
}.categories-outer.additional-pro  h2.heading43 {
    font-size: 43px;
}
	 
 }
 @media screen and (max-width:1200px) {
	 

	 
	 
	 
	 
	 
	 
	 
	 
 }
 @media screen and (max-width:991px) {
	 .categories-outer.additional-unlock .cat-features-outer {
    float: left;
    padding: 0;
    margin: 0;
}
.additional-features li {
    padding: 5px;
}

.inner-whole {
    padding: 18px;
    min-height: 350px;
}.inner-whole h3 {
    font-size: 18px;
}

.categories-outer.additional-pro  h2.heading43 {
    font-size: 33px;
}
.categories-outer.additional-unlock {
    padding-bottom: 130px;
}
.additional-pro h6 {
    font-size: 26px;
    margin: 20px 0 0;
}
.business-row {
    padding: 20px;
}section.leads-gorilla-pro h2 {
    font-size: 33px;
}
section.leads-gorilla-pro .business-row ul {
    margin: 0;
}
section.leads-gorilla-pro .business-row li {
    margin: 20px 25px 20px 0px;
}


.pricing-row-top-content h3 {
    font-size: 25px !important;
}



 }
 @media screen and (max-width:767px) {
.additional-features li {
    padding: 5px;
    width: 50%;
}
	.categories-outer.additional-pro {
    background: #6340ff;
    padding: 460px 0 240px;
} 
	 
	 .categories-outer.additional-unlock {
    padding-bottom: 70px;
    background: #FFC70A;
}
	 section.categories-outer.additional-pro.citation-pro {
    padding: 30px 0 730px;
    background: #1990c3;
}
	.business-row li {
    width: 100%;
    margin: 20px 0 20px 0px;
} 
	section.satisfied-customer-outer.pricing-conn {
    padding: 60px 0 50px;
    margin: 0 0 10px;
    background: #4f4c4c;
} 
	 
	 h2.list-price {
    font-size: 34px !important;
    margin: 20px 0 0px;
}.tab-panel .pricing-row-outer {
    float: left;
    width: 100%;
    margin: 20px 0;
}
	 section.leads-gorilla-pro .business-row li {
    margin: 20px 25px 20px 0px;
    min-height: auto;
}
.pricing-row-content > ul p {
    padding: 20px 0 10px !important;
    line-height: 20px;
}
	 
.pricing-row-content > ul > li {
    margin-bottom: 10px;
    background-size: 20px !important;
}
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
 }
 @media screen and (max-width:639px) {
.additional-features li {
    padding: 5px 0;
    width: 100%;
	text-align:center;
}
.categories-outer.additional-pro .inner-whole {
    min-height: auto;
}
section.leads-gorilla-pro h2 {
    font-size: 25px;
}
.pricing-conn .heading43 {
    font-size: 22px;
}.categories-outer.additional-pro  h2.heading43 {
    font-size: 25px;
}

.pricing-row-top-content h3 {
    font-size: 19px !important;
}
.pricing-row-top-content {
    padding: 45px 0 30px 0;
}





 }
 
 
 
 
 
 
 
 
 
 
 @media screen and (max-width:479px) {
	 
.satisfied-customer-top h3 {
    font-size: 22px;
}
	 .tabset > label {
    font-size: 18px;
    margin: 0 -2px 0px;
    padding: 7px 23px;
}
	 
	 
	 
	 
 }